.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#rounded-box {
  background-color: MediumSeaGreen;
  width: '18rem';
  height: 300px;
  text-align: center;
  padding: 50px;
  margin: 20px;
  border-radius: 40% 40% 40% 40%;
}

.cssbox {
  width: '30rem';
  height: 300px;
  overflow: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
